.nav_bar {
    background-color: rgb(222, 188, 254);
    width: 100%;
    display: block;
}

.nav_item {
    display: block;
    padding: 8px;
    background-color: rgb(183, 138, 224);
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav_item a:active {
    color: rgb(76, 33, 76);
}

.nav_item:hover {
    color: rgb(76, 33, 76);
}

.star {
    position: fixed;
    pointer-events: none;

}

.star:before, .star:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '+';
    font-size: 9px;
}

.star:before {
    color: transparent;
    text-shadow: 0 0 3px rgb(55, 11, 63);
}

.star:after {
    background: rgb(55, 11, 63);
    
}