.nav_item {
    float: left;
    display: block;
    padding: 8px;
    background-color: rgb(183, 138, 224);
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.nav_item:active {
    color: rgb(76, 33, 76);
}

.nav_item:hover {
    color: rgb(76, 33, 76);
}